<ion-header>
  <ion-toolbar color="cuorange">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <img src="assets/logoheader.png" height="30" width="105" style="margin-left: 1%;" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src={{getData().image}} style="border-radius: 30%;" />
  </ion-card>
  <ion-item lines="none"> 
    <ion-label class="labelname">{{getData().name}}</ion-label>
  </ion-item>
  <ion-item> 
    <ion-label class="labelingredients">Ingredientes: </ion-label>
  </ion-item>
  <ion-item *ngFor="let item of getIngredients()" lines="none">
    <ion-label class="ion-text-wrap">{{item}}</ion-label>
  </ion-item>

  <ion-item> 
    <ion-label class="labelingredients">Preparación: </ion-label>
  </ion-item>
  <ion-item *ngFor="let item of getDirections()" lines="none">
    <ion-label class="ion-text-wrap">{{item}}</ion-label>
  </ion-item>
  <ion-item> 
    <ion-label class="labelingredients">Video: </ion-label>
  </ion-item>
  <iframe width="100%" height="315" [src]="getData().video | youtube" frameborder="0" allowfullscreen></iframe>
  <ion-button expand="full" color="cuisine" (click)="watch(getData().video)">Ver en Youtube</ion-button>

</ion-content>