<ion-header>
  <ion-toolbar color="cuorange">
    <img src="assets/logoheader.png" height="30" width="105" style="margin-left: 1%;"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Buscar receta..." animated></ion-searchbar>
  <ion-chip color="danger" (click)="filterItemsVegan()">
    VEGAN
    <ion-icon name="close-circle" *ngIf="veganoption"></ion-icon>
  </ion-chip>
  <ion-card *ngFor="let item of items" (click)="showRecipe(item.id)">
    <img src={{item.image}} style="border-radius: 30%;"/>
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
