.padding{
    padding-top: 4%;
    padding-bottom: 5px;
    
}
ion-slides{
    padding-top:2%;
    padding-bottom: 30px;
    --bullet-background: red ;
    --bullet-background-active: red;
    color:darkred;
}

.buttons{
    padding-top:20%;
}